In [8]:
import pandas as pd
import seaborn as sns
from math import ceil
sns.set()

In [9]:
def links(n):
    groups = ceil((float(n) / 150.0))
    return 6 + 5*2 + 16 + 3 * (groups * 3 + 1) + 2 * (groups * 5 + 1) + (groups * 4 + 1) + 6 * n

def coupleds(n):
    groups = int(ceil(float(n) / 150))
    return 1 + 3 + 2 * (1 + groups) + 4 + 4 * groups

def atomics(n):
    groups = int(ceil(float(n) / 150))
    return 3 + 6 + 6 * groups + 6 * n

In [10]:
df = pd.read_csv('../results/result.csv', sep=';')
df['atomics'] = df['reactions'].apply(atomics)
df['coupleds'] = df['reactions'].apply(coupleds)
df.head()

   reactions  process  time_seconds   ram_kb  atomics  coupleds
0          1  compile         45.59  2062104     21.0      16.0
1          3  compile         43.67  2073976     33.0      16.0
2          5  compile         43.44  2086700     45.0      16.0
3          7  compile         43.76  2101724     57.0      16.0
4          9  compile         44.36  2116352     69.0      16.0

In [ ]:
df['atomic_model_amount'] =